version=0.13.0
profile = default
if-then-else = fit-or-vertical
break-infix = fit-or-vertical
break-infix-before-func = true
type-decl = sparse
break-cases = all
ocp-indent-compat = true
cases-exp-indent = 2
